.dashboard-root {
    -fx-background-color: #f0f2f5;
}
.page-title {
     -fx-font-size: 18px;
        -fx-font-weight: bold;
        -fx-text-fill: #2c3e50;
        -fx-alignment: center;
}
.card-grid {
    -fx-padding: 20;
}

.artist-card {
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-padding: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 8, 0.5, 0, 2);
    -fx-background-radius: 10;
}
.artist-card:hover {
    -fx-effect: dropshadow(gaussian, rgba(66, 103, 178, 0.5), 10, 0.5, 0, 4);
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-cursor: hand;
}

.card-button {
    -fx-background-color: #1877f2;
        -fx-text-fill: white;
        -fx-font-weight: bold;
        -fx-background-radius: 8;
        -fx-cursor: hand;
        -fx-padding: 10 20;
}
.menu-bar
{
    -fx-background-color: #ffffff;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 0 1 0;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}
