.root-pane
{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}
.input-field
{
    -fx-border-color: #bdc3c7;
     -fx-border-radius: 5;
     -fx-background-radius: 5;
}
.submit-button
{
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}
.choice-box
{
    -fx-background-color: #f0f2f5;
    -fx-border-color: #ccc;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 6 10;
    -fx-font-size: 14px;
    -fx-text-fill: #333;
}
.date-picker
{
-fx-background-color: #f0f2f5;
    -fx-border-color: #ccc;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 6 10;
    -fx-font-size: 14px;
    -fx-text-fill: #333;
}