.root-pane
{
 -fx-background-image: url("Images/artsteam-background.png");
 -fx-background-size: cover;         /* or "contain", or use pixel values */
 -fx-background-repeat: no-repeat;
 -fx-background-position: center center;
}
.login-button
{
  -fx-background-color: #1877f2;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-background-radius: 6;
  -fx-cursor: hand;
  -fx-padding: 10px;
}
.register-button
{
  -fx-background-color: #1877f2;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-background-radius: 6;
  -fx-cursor: hand;
  -fx-padding: 10px;
}
.welcome-label
{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #1877f2;
    -fx-alignment: center;
    -fx-text-fill: white;

}
